html, body {
  height: 100%; /* Allow the body to expand as needed */
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  min-height: 100vh; /* Minimum height of viewport */
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: white; /* Assuming you want white text */
}

/* Using a pseudo-element for radial fade that does not affect text or interactive elements */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    ellipse at center,
    transparent,
    rgba(0, 0, 0, 0.5) 70%
  );
  pointer-events: none; /* Ensure clicks pass through */
  z-index: 0; /* Sits above the background but below everything else */
}

.text-transparent {
  background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  -webkit-background-clip: text;
  background-clip: text;
}

button {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.section {
  padding: 20px;
   /* Ensure each section covers at least the viewport height */
  background: radial-gradient(
    ellipse at bottom,
    #1b2735 0%,
    #090a0f 100%
  ); /* Gradient starts again for each section */
 
}

